.App {
  &__header {
    .bx--header {
      &__name {
        font-size: 1.125rem;
      }
      &__menu-item {
        color: rgb(230, 230, 230)
      }
    }
    .bx--side-nav__icon:not(.bx--side-nav__submenu-chevron) svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    .bx--switcher__item {
      height: 3rem;
      &-link {
        height: 3rem;
        display: flex;
        align-items: center;
        svg {
          margin-right: 1rem;
        }
      }
    }
  }
  &__profile-image {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
}
