$brand-01:#3d70b2;
$brand-02: #5596e6;

$background-01: #f5f7fa;
$background-02: #E9F9F6;
$background-03: #F4F7FB;

$ui-03: #F0F3F6;
$ui-04: #dfe3e6;
$ui-05: #8C9BA5;

$text-01: #152935;
$text-02: #5a6872;

$support-01: #e71d32;
$support-02: #5aa700;
$support-03: #efc100;
$support-04: #5aaafa;

$progress-01: #5a3ec8;
$progress-02: #5aa700;
$progress-03: #5a6872;
$progress-04: #5aaafa;
