@import '~carbon-components/scss/globals/scss/styles.scss';
@import './colors.scss';

html {
  background-color: $background-01;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-content {
  background-color: $background-01;
}
