@import '~carbon-components/scss/globals/scss/styles.scss';
@import '@carbon/colors/scss/colors';

html {
  background-color: $ui-01;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-content {
  background-color: $ui-01;
}
