@import '@carbon/colors/scss/colors';

.PageBase {
  &__heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem 5% 0 5%;
    margin-bottom: 3rem;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  }
  &__page-info {
    padding-bottom: 1.25rem;
  }
  &__subtitle {
    color: $ibm-color__gray-70;
  }
  &__construction-notification.bx--inline-notification {
    margin-top: 0;
    max-width: unset;
  }
  &__content {
    padding: 0 5%;
  }
}