@import '@carbon/colors/scss/colors';

.HomePage {
  &__info {
    padding: 3rem;
    background-color: white;
    padding: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }
  &__name {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
  }
  &__jobs {
    padding: 1rem 0;
  }
  &__title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  &__statement {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .react-photo-gallery--gallery {
    img {
      background-color: $ibm-color__gray-20;
      &:hover {
        outline: 2px solid $ibm-color__blue-60;
      }
    }
  }
}
