@import '@carbon/colors/scss/colors';

$repositionWidth: 1175px;

.HomePage {
  &__info {
    display: flex;
    padding: 2.5rem;
    margin-bottom: 3rem;
    background-color: white;
    border-left: 6px solid $ibm-color__blue-50;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    @media screen and (max-width: $repositionWidth) {
      flex-direction: column;
    }
  }
  &__name {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
  }
  &__jobs {
    padding: 1rem 0;
  }
  &__title {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  &__detail-label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
  }
  &__detail-value {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  &__detail-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__tag {
    background-color: $ibm-color__gray-20;
    padding: 0.25rem 0.75rem;
    margin: 0 0.33rem 0.33rem 0;
    border-radius: 0.75rem;
  }
  &__divider {
    flex: 0;
    min-width: 1px;
    min-height: unset;
    margin: 0 2rem;
    background-color: $ibm-color__gray-50;
    @media screen and (max-width: $repositionWidth) {
      min-width: unset;
      min-height: 1px;
      margin: 2rem 0;
    }
  }
  &__statement {
    flex: 1;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  &__paragraph {
    margin-bottom: 1rem;
    a {
      text-decoration: none;
    }
  }
  .react-photo-gallery--gallery {
    img {
      background-color: $ibm-color__gray-20;
      &:hover {
        outline: 2px solid $ibm-color__blue-60;
      }
    }
  }
}
.react-images__blanket {
  z-index: 9998 !important;
}
.react-images__positioner {
  z-index: 9999 !important;
}
