@import '@carbon/colors/scss/colors';

$image-width: 3.5rem;

.ContactOption {
  &:not(:last-child) {
    padding: 0 0 3rem 0;
  }
  &__title {
    display: flex;
    align-items: center;
  }
  &__image {
    width: $image-width;
    svg {
      fill: $ibm-color__gray-70;
    }
  }
  &__content {
    margin-left: $image-width;
  }
  &__subtitle {
    color: $ibm-color__gray-70;
  }
}